#titulo{
    /*border: 5px solid green;*/
    width: fit-content;
    position: relative;
    left: 40%;
}
.tablita{
    width: 78%;
    float: right;
    height: 700px;
    border: 2px solid blue;
}
header{
    width: 100%;
    height: auto;
}
#nav{   
    width: 100%;
    height: 50px;
    background-color: #441B69;
   
}
#perfil{    
    display: inline-block;
    float: right;
    width: 2%;
    position: relative;
    top: 5px;
}
#notificacion{
    display: inline-block;
    float: left;
    width: 2%;
    position: relative;
    top: 5px;
}
#menu{
    display: inline-block;
    float: left;
    width: 2%;
    position: relative;
    height: 10px;
}
#aside{
    background-color: #222D32;
    float: left;
    border: 2px solid green;
    width: 15%;
    height: 700px;
}